if user
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href="/rooms") Rooms
    li.nav-item
      a.nav-link(href="/account") Account

else
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href="/login") Log In
    li.nav-item
      a.nav-link(href="/register") Register
