extends layouts/main

block content
  .jumbotron.mt-5.w-75.mx-auto
    h1.display-3 Awesome Chat Service
    p.lead Register, Log In, Enter Room, and Chat!
    p.lead
      a(href="http://socket.io/").btn.btn-primary.btn-lg Learn more
